@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    padding: 1rem;
}
th {
    padding-left: 1rem;
}

.view-more:hover, .delete-more:hover, .edit-more:hover {
    opacity: .5;
    cursor: pointer;
}

